#main{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #CDCDCB;
}
.main_th{
    width: 1000px;
    height: 45px;
    background-color: #EFF4F5;
}
.main_td{
    width: 500px;
    height: 100px;
    border-left: 0px;
    border-right: 0px;

}
.main_td:hover{
    background-color: #F2F2EF;
    cursor: pointer;
}
.title1{
    margin: auto 7px;
    font-weight: bold;
    color: #1b6d85;
    font-family:黑体;
    font-size: 1.1em;
}
.imageDiv img{
    width: 122px;
    height: 66px;
    margin: auto 30px;
    float: left;

}
#mainTable{
    border: 0px;
}
.title2{
    margin: 2px auto 12px 170px;
    font-weight: bold;
}
.title3{
    margin: 2px auto 2px 170px;
    font-family: 宋体;
    font-size: 0.8em;
}