#postPre{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1000px;
    height: 40px;
    margin: auto;
}

.rowPage{
    width: 1000px;
    height: 50px;
    text-align: right;
    margin: auto;
    position: relative;
    top: -20px;
}

.post_btn{
    float: left;
    width: 100px;
    text-align: left;
    margin: auto;
}

.rowPage2{
    height: 50px;
    float: right;
    width: 800px;
    text-align: right;
    margin: auto;
    position: relative;
    top: -20px;
}