td {
    font-size: 14px;
    border-width: 0px;
}

a {
    text-decoration: none;
}

#table-div {
    border: 1px solid #CDCDCD;
    margin: auto;
    width: 1000px;
}

.td1 {
    width: 780px;
    text-align: left;
}

.td2 {
    text-align: right;
}

#div_img_ask {
    height: 50px;
    width: 1000px;
    margin: auto;
}

#img_ask{
    width: 76px;
    height: 32px;
    position: relative;
    top: 10px;
    z-index: 2;
}


#div_img_ask #ask_hr{
    border: 1px solid #CDCDCD;
    position: relative;
    z-index: -1;
    top: -10px;
}

#div_pagination_top {
    margin: auto;
    text-align: right;
    width: 1000px;
    height: 50px;
    position: relative;
    top: -44px;
    /*z-index: -1;*/
}

#div_pagination_bottom {
    margin: auto;
    text-align: right;
    width: 1000px;
    height: 50px;
    position: relative;
    top: -9px;
    /*z-index: -1;*/
}