html * {
    padding: 0;
    margin: 0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.nav {
    margin-top: 200px;
}

.nav * {
    text-decoration: none;
    font-size: 12pt;
}

#content .menu .nav * a:hover {
    background-color: #82ce18;
}

.menu {
    list-style: none;
    height: 40px;
    width: 1000px;
    margin: auto;
    background-color: #2975C4;
    /*margin-top: 96px;*/
}

.nav {
    list-style: none;
    height: 40px;
    width: 1000px;
    margin: auto;
    background-color: #2975C4;
}

.nav li {
    float: left;
    border-left: 1px solid #2975C4;
    border-right: 1px solid #2975C4;
    border-top: 1px solid #2975C4;
    border-bottom: 1px solid #2975C4;
    position: relative;
    z-index: 2;
}

.nav li a {
    color: #fff;
    height: 38px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 20px;
    blr: expression(this.onFocus=this.close());
    blr: expression(this.onFocus=this.blur());
    display: inline-block;
}

.nav li a:focus {
    -moz-outline-style: none;
}

.nav li .sub-nav {
    position: absolute;
    top: 39px;
    left: -1px;
    list-style: none;
    background-color: #2975C4;
    display: none;
}

.nav li .sub-nav li {
    text-align: center;
    clear: left;
    width: 140px;
    height: 35px;
    line-height: 35px;
    position: relative;
}

.nav li .sub-nav li a {
    height: 34px;
    line-height: 34px;
    width: 138px;
    padding: 0;
    display: inline-block;
}

#top {
    height: 110px;
    width: 1000px;
    margin: auto;
    background: url("../images/bgtop.jpg") no-repeat;
}

#login {
    float: right;
    margin: 20px;
    margin-right: -9px;
}

#login a {
    text-decoration: none;
    margin: 3px;
    color: #337DC4;
    font-family: 黑体;
}

#login p {
    margin: 5px;
}

#login input[type="submit"] {
    width: 70px;
    height: 21px;
    vertical-align: middle;
}

#login input[type="text"], #login input[type="password"] {
    border-radius: 1px;
}

#ad {
    height: 100px;
    width: 1000px;
    margin: auto;
    background-image: url("../images/ad.jpg");
}

#photo {
    width: 65px;
    height: 65px;
}

#table_user td {
    text-align: center;
    margin: 20px;
    padding: 5px;
}

#div_search {
    height: 50px;
    width: 1000px;
    margin: auto;
    background-color: #E8EFF5;
    padding: 10px;
}

#div_search input {
    width: 470px;
    height: 30px;
    padding: 4px;
}

#div_search img {
    height: 30px;
}